<app-users (user)="selectUser($event)"></app-users>

<h1>{{ currentUser.name }} Hi</h1>

<div class="event-container">
  <div *ngFor="let e of events">
    <p>{{e.eventName}}</p>
    <p>{{e.time}}</p>
    <p>${{e.price}}</p>
    <div *ngIf="userParticipationsIds.includes(e.id)">
      <p>Joined</p>
    </div>
    <script>
      console.log(e)
    </script>

      <button>Remove Attendance</button>
      <button (click)="addParticipation(e)">Attend</button>
    <!-- <p>{{e.participations.length()}}</p> -->
    
    
  </div>
</div>

<div *ngIf="currentUser">
  <h2>Attending:</h2>
  <div class="event-container">
    <div *ngFor="let e of userParticipations">
      <p>{{e.eventName}}</p>
      <p>{{e.time}}</p>
    </div>
  </div>
</div>
