<div class="container">
  <form (ngSubmit)="submit()" class="event-form">
    <h2 class="add-order-heading">Add an Event</h2>
    <p class="col-6">
      <label for="eventName">event name:</label>
      <input
        type="text"
        name="eventName"
        class="form-control"
        id="eventName"
        [(ngModel)]="eventName"
      />
    </p>
    <p class="col-6">
      <label for="time">Time:</label>
      <input
        type="datetime-local"
        name="time"
        class="form-control"
        id="time"
        [(ngModel)]="time"
      />
    </p>
    <p class="col-6">
      <label for="price">price:</label>
      <input
        type="number"
        name="price"
        class="form-control"
        id="price"
        [(ngModel)]="price"
      />
    </p>
    <p class="col-6">
      <label for="location">location:</label>
      <input
        type="text"
        name="location"
        class="form-control"
        id="location"
        [(ngModel)]="location"
      />
    </p>
    <button type="submit">Submit</button>
  </form>

